/*
 * #3C90BE -> background-items
 * #FEFEF2 -> background
 * #95C7A4 
 * #428EFF -> hover
 * #64543E
 * 
*/

#rajoy {
    position: fixed;
    right: 0px;
    bottom: 0px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FEFEF2;
}

body {
    background-color: #FEFEF2;
}

.defaultBorder ul {
    margin-left: 16px;
}

img {
    width: auto;
    height: auto;
}

.wrapper {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 1%;
}

.defaultBorder {
    border: 1px black solid;
    background-color: #3C90BE;
    border-radius: 0.3em;
    margin-bottom: 0.2em;
    padding: 0.7em;
}

.capitalize {
    
}

// FORMS //

form {
    
}

.formInput * {
    margin-bottom: 1%;
}

// UPPER //

#upperWrapper {
    
}

#navList li a {
    display: block;
}

#navList li form input:hover {
    background-color: #428EFF;
}

#navList li {
    display: inline-block;
    list-style-type: none;
    margin: 0.5% 0;
}

#navList li input {
    text-decoration: none;
    padding: 0.7em;
    border-radius: 0.3em;
    border: solid thin black;
    background-color: #3C90BE;
    color: black;
}

.submitImage {
    background-image: url(../images/gear.png);
    background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 42px;
    position: relative;
    top: 4px;
}

// MIDDLE //

#middleWrapper {
    padding-left: 1%;
}

.square {
    text-align: center;
    width: 19%;
    margin: 0.5% 0.5%;
    background-color: #428EFF;
    display: inline-table;
}

.textFromMainSquare {
    background-color: #3C90BE;
    padding: 1%;
    position: relative;
    margin: 2%;
}

.textFromMainSquare a {
    color: black;
    text-decoration: none;
    padding: 1%;
    display: block;
}

.imgMainSquare {
    width: 60%;
    height: 140px;
    clear: both;
}

// FOOTER //

#footerWrapper {
    display: block;
}

#navListFooter {
    list-style-type: none;
}

.innerFooter {
    border-radius: 0.3em;
}

.footerLeft {
    float: left;
    width: auto;
}

.footerMid {
    float: left;
    width: 51%;
}

.footerRight {
    float: right;
    width: auto;
    margin-bottom: 1%;
}

#navListFooter li {
    margin-bottom: 1%;
}

#navListFooterPoll li {
    list-style-type: none;
}

#navListFooterPoll li a {
    text-decoration: none;
    padding: 0.7em;
    border-radius: 0.3em;
    border: solid thin black;
    background-color: #3C90BE;
    color: black;
    margin: 0.5% 0;
    display: inline-block;
}

#navListFooterPoll li a:hover {
    background-color: #428EFF;
}

.footerMid p {
    
}

#navListFooterPoll li a {
    
}

// DETAILS //

.infoDiv {
    
}

.infoDiv > h1{
    width: 50%;
}

.detailImage {
    width: 40%;
    margin: auto;
}

.detailImage > img {
    width: 100%;
    height: 100%;
}

.infoHeaders {
    width: 60%;
}

.newRow {
    clear: both;
    padding: 10px;
    height: 150px;
}

.newDiv {
    min-height: 250px;
}

.newRow * {
    margin-bottom: 10px;
}

.newRow img {
    float: left;
    width: 150px;
    display: block;
    margin-right: 10px;
}

.newImage {
    margin-top: 10px;
    float: left;
    width: 150px;
    margin-right: 10px;
}

.newImage img {
    width: 150px;
}

.limitP {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
