/* 
    Created on : 13-may-2015, 16:35:09
    Author     : Ismael Caballero
*/


* {
    margin: 0;
    padding: 0;
}

body{
 font-family: "Calibri";
  color:white;
}


a:link:active, a:visited:active {
    color: white;
	text-decoration:none;
} 

a{
    color: white;
	text-decoration:none;
}

.wrapper{
    text-align: center;
    margin-left: 10%;
    margin-right:10%;
    margin-top:2%;
    width:80%; 
    background-color:#819FF7;
    //border-color:#5858FA;
    //border-style: solid;
    border-width: 3px;
    border-radius:10px 10px 10px 10px;  
    
}

.header{
    text-align: center;
    width:100%;
}

.menubuton{
    display:inline-block;
    text-align: center;
    width:7%;
    margin-top:2%;
    margin-left:2%;
    border-color:#5858FA;
    border-style: solid;
    border-width: 3px;
    border-radius:10px 10px 10px 10px;  
}

.menubuton:hover{
    background-color:#81BEF7;
    
}


.center{
    margin-top:4%;
    text-align: center;
    line-height: 100%;
    width:100%;
}


.footer{
    margin-top:4%;
    width:100%;
    text-align: center;
    
    
}

.mtop{
    margin-top:1%;
    
}